@import 'https://fonts.googleapis.com/css2?family=Raleway&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap';

html {
  font-size: 16px;
  line-height: 1.5;
  font-family: Raleway, sans-serif;
  padding: 60px;
}

h1,
h2 {
  font-family: Great Vibes, cursive;
  line-height: 1.2;
  font-weight: bold;
}