body {
    display: grid;
    grid-template-areas: 'header header' 'main aside' 'main aside';
    line-height: 1.5;
    font-family: Arial, sans-serif;
    width: 1000px;
    margin: auto;
    background-color: rgb(238, 238, 238);
}

header {
    grid-area: header;
}

header nav {
    vertical-align: top;
    display: inline-block;
    padding: 20px;
}

nav {
    font-family: Helvetica, sans-serif;
}

header nav ul {
    display: inline-block;
}

header nav ul li {
    display: inline-block;
    margin-left: 30px;
}

.base {
    border-bottom: 2px solid #000;
}

.base nav {
    padding-left: 450px;
}

main {
    grid-area: main;
    display: inline-block;
    width: 700px;
}

aside {
    grid-area: aside;
    display: inline-block;
    vertical-align: top;
}

h1,
h2,
h3 {
    margin-top: 50px;
    font-family: Georgia, serif;
    line-height: 1.2;
    font-size: 1em;
}

a {
    color: rgb(0, 102, 0);
    text-decoration: none;
}

img {
    padding: 5px;
    border: 4px solid black;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.site-title {
    font-family: Helvetica, sans-serif;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 30px;
}

.img-first {
    margin-left: 20px;
    float: right;
}

.img-second {
    margin-right: 20px;
    float: left;
}

blockquote {
    border-left: 3px solid lightgray;
    font-family: Georgia, serif;
    font-style: italic;
    float: right;
    width: 50%;
}

blockquote p {
    margin-left: 40px;
}

.author {
    float: right;
}