header {
    padding-left: 30px;
    border-bottom: 2px solid rgb(0, 0, 0);
    text-transform: uppercase;
}

body {
    display: flex;
    background-color: rgb(238, 238, 238);
    height: 100vh;
    font-family: Helvetica, sans-serif;
    flex-flow: column nowrap;
    margin: 0px;
}

main {
    padding-left: 30px;
}

footer {
    color: rgb(255, 255, 255);
    background-color: rgb(102, 102, 102);
    position: sticky;
    margin-top: auto;
}

footer p {
    padding-left: 30px;
}