body {
    display: grid;
    grid-template-areas:
        'header header'
        'aside main'
        'footer footer';
    grid-template-columns: 100px auto;
    gap: 10px;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
}

body * {
    border-radius: 3px;
    background: rgb(181, 216, 255);
    padding: 5px 10px;
}

header h1 {
    display: inline-block;
    vertical-align: middle;
}

main li {
    margin-left: 20px;
    padding: 2px;
}

main a {
    color: black;
    text-decoration: none;
}

aside ul {
    list-style-type: none;
    margin: 0px;
    padding: 5px;
}

aside a {
    display: block;
    padding: 5px 0px;
    color: rgb(86, 40, 129);
    text-decoration: none;
}

nav {
    display: inline-block;
    vertical-align: middle;
    margin-top: 8px;
}

nav ul li {
    list-style-type: none;
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: rgb(53, 100, 153);
    padding: 5px 15px;
}