@media screen and (max-width: 400px) {
    body {
        font-size: 12px;
    }
}

@media screen and (max-width: 500px) {
    body {
        font-size: 14px;
    }
}

@media screen and (max-width: 600px) {
    body {
        font-size: 16px;
    }
}

@media screen and (max-width: 800px) {
    body {
        font-size: 18px;
    }
}

@media screen and (max-width: 1300px) {
    body {
        font-size: 21px;
    }
}

@media screen and (max-width: 1800px) {
    body {
        font-size: 23px;
    }
}