body {
    background-color: #EEE;
    padding: 5rem;
    display: flex;
    flex-wrap: wrap;
    font-family: Helvetica, sans-serif;
    gap: 25px;
}

body * {
    padding: 2rem;
    background-color: #FFF;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25);
    border-radius: 0.4rem;
    color: #000;
}

header {
    flex-basis: 100%;
    padding-bottom: 120px;
}

main {
    flex: 8 1 40rem;
    padding-bottom: 300px;
}

aside {
    flex: 2 1 20rem;
}

footer {
    flex-basis: 100%;
    padding-bottom: 50px;
}