body {
    background-color: rgb(238, 238, 238);
    font-family: Arial, sans-serif;
}

.card {
    border-radius: 5px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
    background-color: rgb(255, 255, 255);
    height: 450px;
    width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a {
    border-radius: 5px;
    background-color: rgba(0, 153, 0);
    position: absolute;
    bottom: -60px;
    right: -5px;
    border: none;
    padding: 10px 15px;
    text-decoration: none;
    color: #fff;
}

h3 {
    font-family: Georgia, serif;
    font-size: 1em;
}

img {
    height: 50%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: absolute;
    width: 100%;
}

div:last-child {
    position: absolute;
    bottom: 20%;
    margin: 0 40px;
    font-size: 1.2em;
    line-height: 1.5;

}

div p {
    font-size: 15px;
}