@import 'https://use.fontawesome.com/releases/v5.6.3/css/all.css';

.button {
    margin-right: 10px;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    border: 2px solid rgb(51, 51, 51);
    border-radius: 30px;
    padding: 5px 15px;
    background-color: rgb(251, 251, 251);
    color: rgb(51, 51, 51);
}

a {
    text-decoration: none;
}

.fill {
    background-color: rgb(51, 51, 51);
    color: rgb(251, 251, 251);
}

.hover:hover {
    border-color: rgb(0, 102, 0);
    background-color: rgb(0, 102, 0);
}

.hover:nth-last-child(10):hover {
    background-color: rgb(251, 251, 251);
    border-color: rgb(0, 102, 0);
    color: rgb(0, 102, 0);
}