body {
    display: flex;
    background-color: rgb(238, 238, 238);
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    border-radius: 5px;
    width: 400px;
    height: 140px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Arial, sans-serif;
    -webkit-box-shadow: 0px 0px 21px 12px rgba(0, 0, 0, 0.23);
    box-shadow: 0px 0px 21px 12px rgba(0, 0, 0, 0.23);
}

h2,
p {
    padding-left: 20px;
}

h2 {
    margin-bottom: 0;
    font-family: Georgia, serif;
}