body {
    margin: 0px;
    padding: 0px;
    background-color: #cccccc;
}

nav ul {
    background-color: #444;
    text-align: center;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

nav ul li {
    font-size: 24px;
    display: inline-block;
    line-height: 40px;
    height: 40px;
    padding: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
}

section {
    margin-left: 20px;
}

section article header h1 {
    font-size: 28px;
}

section article header p {
    font-style: italic;
    font-size: 18px;
}

section article p {
    font-size: 24px;
}

footer {
    background-color: #444;
}

footer p {
    color: #fff;
    text-align: center;
    padding: 10px;
}