@import 'https://fonts.googleapis.com/css?family=Montserrat';

body {
    font-family: 'Montserrat', sans-serif;
    padding: 16px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    background-color: rgb(58, 58, 58);
    color: white;
    text-align: start;
}

th,
td {
    width: 144px;
    height: 32px;
    border: 1px solid #ccc;
    padding-left: 5px;
}